{% extends "base.html" %}

{% block head %}
    <title>Search</title>
{% endblock %}

{% block body %}
    <header>
        <div class="header-container">
            <img src="/static/images/logo.png" alt="logo">
            <h1>Cloud search</h1>
        </div>
    </header>

    <main>
        <div class="main-container">
            <div class="form-container">
                <form method="post" action="{{ url_for('search') }}">
                    <label for="filename">File name:</label>
                    <input type="text" name="filename">
                    <input class="search-button" type="submit">
                </form>
            </div>
            <div class="files-container">
                {% for file in files %}
                    <div class="file-container">
                        <img src="/static/images/file.png">
                        <p>
                            <a href="{{ url_for('download_file', path_to_file=file[1], file_name=file[0])}}" download>{{ file[0] }}</a>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-container">

        </div>
    </footer>
{% endblock %}