{% extends "base.html" %}

{% block head %}
    <title>Search</title>
{% endblock %}

{% block body %}
    <header>
        <div class="header-container">
            <nav>
                <a href="{{ url_for('main') }}">Main page</a>
                <a href="{{ url_for('search') }}">Search</a>
                <a href="{{ url_for('help_') }}">Help</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="main-container">
            <form method="post" action="{{ url_for('search') }}">
                <input type="text" name="filename">
                <input type="submit">
            </form>
            <div class="files-container">
                {% for file in files %}
                    <div class="file-container">
                        <img src="/static/images/file.png">
                        <p>
                            <a href="{{ url_for('download_file', path_to_file=file[1], file_name=file[0])}}" download>{{ file[0] }}</a>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-container">

        </div>
    </footer>
{% endblock %}